body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #35424a;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2em; /* Aumenta o tamanho da fonte do título principal */
}

h2 {
  color: #35424a;
  margin-top: 20px; /* Adiciona espaço acima do subtítulo */
}

main {
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none; /* Remove os marcadores da lista */
  padding: 0; /* Remove o preenchimento padrão */
  margin: 0; /* Remove a margem padrão */
}

ul li {
  margin: 10px 0; /* Adiciona espaço entre os itens da lista */
}

a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: #35424a; /* Cor do texto do link */
  background-color: #e2e2e2; /* Cor de fundo do link */
  padding: 10px 15px; /* Espaçamento interno do link */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s, transform 0.3s; /* Efeito de transição para a cor de fundo e transformação */
  display: inline-block; /* Permite que o padding funcione corretamente */
}

a:hover {
  background-color: #d1d1d1; /* Cor de fundo ao passar o mouse */
  transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}

footer {
  background: #35424a;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px; /* Adiciona espaço acima do rodapé */
}
